@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

// It will select the last item on navigation list
nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
    
}

section.hero {
    background: $secondary;
}

.size {
    background: $secondary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

//Used to update ORDER NOW button on home page.
.btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

//CSS used on cart.ejs page
section.cart {
    background: $secondary;

    .amount {
        color: $primary;
    }
}

//CSS used for login.ejs page
section.login {
    background: $secondary;
    //We have subtracted the height of nav bar, so that we dont have to deal with scroll bar.
    //vh, viewheight is used for whole screen from top to bottom , which will bring drop down
    min-height: calc(100vh - 86px);

    a {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

//CSS used for register.ejs page
section.register {
    background: $secondary;
    //We have subtracted the height of nav bar, so that we dont have to deal with scroll bar.
    //vh, viewheight is used for whole screen from top to bottom , which will bring drop down
    min-height: calc(100vh - 86px);

    a {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

// Updated CSS class of noty library, to make border rounded.
.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important;
}

// CSS used for order page
a.link {
    color: $primary;
}